<div class="px-4 h-85">
  <div class="container-fluid px-1 py-4 h-100">
    <div class="row h-100">
      <div class="col-md-5">
        <div class="container-fluid px-2 bg-white h-100">
          <p class="fw-bold pt-4 ps-5 pb-5">INFORMACIÓN DE LA EMPRESA</p>
          <div class="row d-flex h-85">
            <div class="col-12 text-center d-flex flex-column lh-sm">
              <p class="fw-bold mb-0">Nombre</p>
              <p class="pb-4">Quipux S.A.S</p>
              <p class="fw-bold mb-0">Fecha de creación</p>
              <p class="pb-4">1995/05/06</p>
              <p class="fw-bold mb-0">Dirección</p>
              <p class="mb-0">Carrera 43A No. 3 Sur-130</p>
              <p class="mb-0">Ed. Milla de Oro</p>
              <p class="mb-0">Distrito de negocios Torre 1</p>
              <p class="mb-3">Piso 12</p>
              <p class="pb-4">Medellín - Colombia</p>
              <p class="fw-bold">Número de teléfonos</p>
              <p class="mb-0">Fijo</p>
              <p class="mb-0">+57 (4) 313-70-00</p>
              <p class="mb-0">Fax</p>
              <p class="pb-4">+57 (4) 313-44-77</p>
              <p class="fw-bold mb-0">Sitio Web</p>
              <a class="pb-4">www.quipux.com/site</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="container-fluid px-2 bg-white h-100">
          <p class="fw-bold pt-4 ps-5 pb-5">INFORMACIÓN DEL CONTACTO</p>
          <div class="row d-flex h-85">
            <div class="col-6 borda-direita text-center d-flex flex-column">
              <p class="fw-bold mb-1">Dirección</p>
              <p class="mb-1">Carrera 52 # 91-66</p>
              <p class="pb-5">Medellin Colombia</p>
              <p class="fw-bold mb-1">Correo electrónico</p>
              <p class="pb-5">usuarioapellido&#64;hotmail.com</p>
              <p class="fw-bold mb-1">Sitio Web</p>
              <p class="pb-5">www.usuarioapellido.com</p>
              <p class="fw-bold mb-1">Red social</p>
              <p class="mb-1">www.instagram.com/usuarioapellido</p>
              <p class="pb-auto">www.linkeind.comm/usuarioapellido</p>
            </div>
            <div class="col-6 text-center">
              <p class="fw-bold mb-1">Dirección de correspondencia de correo</p>
              <p class="mb-1">Carrera 52 # 91-66</p>
              <p class="pb-5">Envigado Colombia</p>
              <p class="fw-bold mb-1">Número de teléfonos</p>
              <p class="mb-1">Fijo</p>
              <p class="mb-1">+57 (4) 313-70-00</p>
              <p class="mb-1">Celular</p>
              <p class="pb-auto">(312) 313-44-77</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
