<div class="px-4 h-85">
  <div class="container-fluid px-4 py-5 h-100">
    <div class="row h-100 py-5">
      <div class="col-6">
        <div class="bigger-row d-flex">
          <div class="my-auto w-100">
            <h1 class="text-primary display-3 fw-bold ms-4 mb-4">
              ¿Que quieres buscar?
            </h1>
            <p>Encuentra la información que desees consultar ...</p>
            <div class="input-group mb-3 border border-primary">
              <div class="input-group-append">
                <button
                  class="input-group-text py-2 text-primary bg-primary-light"
                  id="basic-addon2"
                >
                  Todos los servicios <i class="bi bi-caret-down-fill ms-3"></i>
                </button>
              </div>
              <input
                type="text"
                class="form-control border border-primary"
                id="basic-url"
                aria-describedby="basic-addon3"
                placeholder="Que servicio quieres consultar"
              />
              <div class="input-group-append px-4 d-flex text-white bg-primary">
                <i class="bi bi-search my-auto"></i>
              </div>
            </div>
          </div>
        </div>
        <div class="smaller-row">
          <div class="card h-100 shadow-sm border-0">
            <div class="row mx-0 h-100">
              <div class="col-4 h-100 px-4 py-3 pb-4 d-flex flex-column">
                <p class="text-primary-darker fw-bold">Certificado</p>
                <p class="texto-card">
                  Conoce los beneficios que tenemos para ti al registrarte
                </p>
                <button
                  type="button"
                  class="btn btn-outline-success py-0 mt-auto me-auto"
                >
                  + beneficios
                </button>
              </div>
              <div class="col-4 h-100 px-4 py-3 pb-4 d-flex flex-column">
                <p class="text-primary-darker fw-bold">Crear cuenta</p>
                <p class="texto-card">
                  Conoce los beneficios que tenemos para ti al registrarte
                </p>
                <button
                  type="button"
                  class="btn btn-outline-success py-0 px-4 mt-auto me-auto"
                >
                  Ver todo
                </button>
              </div>
              <div class="col-4 h-100 px-4 py-3 pb-4 d-flex flex-column">
                <p class="text-primary-darker fw-bold">Top trámites</p>
                <p class="texto-card">Conoce los trámites más solicitados.</p>
                <button
                  type="button"
                  class="btn btn-outline-success py-0 px-4 mt-auto me-auto"
                >
                  Ver todo
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-2"></div>
      <div class="col-4">
        <div class="bigger-row d-flex flex-column background-image-1">
          <div class="bg-white mt-auto mb-4 py-3 opacity-90">
            <h1 class="text-primary-darker text-center fw-bold display-5">
              SERVICIOS QUIPUX
            </h1>
          </div>
        </div>
        <div class="smaller-row">
          <div class="card h-100 start-border shadow-sm py-3 px-5">
            <p class="fs-3 fw-bold text-primary-darker texto-card">
              Trámites en tu mano
            </p>
            <p class="lh-sm">
              Ahora podrás hacer todos tus trámites desde la comodidad de tu
              casa, desde cualquier dispositivo computadora, tablet o móvil.
            </p>
            <div class="row mx-0 text-secondary">
              <div class="col-2 d-flex ps-0">
                <i class="bi bi-chevron-left"></i>
                <span class="my-auto pb-1"><span class="text-primary">1</span>/4</span>
                <i class="bi bi-chevron-right"></i>
              </div>
              <div class="progress w-50 px-0 col-10 d-flex my-auto">
                <div
                  class="progress-bar w-25"
                  role="progressbar"
                  aria-valuenow="25"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
